<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<property name="LOG_PATH" value="${LOG_PATH:-${catalina.base:-${java.io.tmpdir:-/tmp}}/logs/}"/>
 	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}er.log}"/>
			
    <property file="${eresources.log.properties:-application.properties}" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_FILE}</File>
        <encoder>
            <pattern>%d %p [%t][%c] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
            <FileNamePattern>er.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p [%t][%c] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
        <evaluator class="edu.stanford.irt.eresources.TimeLimitedOnErrorEvaluator">
            <messageLimit>5</messageLimit>
            <timeLimitMinutes>60</timeLimitMinutes>
        </evaluator>
        <asynchronousSending>false</asynchronousSending>
        <STARTTLS>true</STARTTLS>
        <smtpHost>${SMTP_HOST:-smtp.stanford.edu}</smtpHost>
        <smtpPort>${SMTP_PORT:-587}</smtpPort>
        <smtpPort>${SMTP_USER}</smtpPort>
        <smtpPort>${SMTP_PASS}</smtpPort>
        <to>${eresources.log.email.to:-ryanmax@stanford.edu}</to>
        <from>${eresources.log.email.from:-ryanmax@stanford.edu}</from>
        <subject>${eresources.log.email.subject:-er-db ERROR}</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
    </appender>

    <root level="${eresources.log.level:-INFO}">
        <appender-ref ref="${eresources.log.appender:-console}"/>
        <appender-ref ref="email"/>
    </root>

</configuration> 

